.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
  padding: 20px 0;
  border-bottom: 1px solid lightblue;
  width: 100%;
  z-index: 1;
  top: 0;
}
.product {
  height: 300px;
  width: 300px;
  background-color: beige;
  border: 2px dashed grey;
  justify-content: center;
  align-items: center;
  display: flex;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.container1 {
  margin-top: 100px;
}
